---
import Card from "./Card.astro";
import { getEventData } from "../data/eventData";

---


<section id="dresscode">

<div class="max-w-4xl mx-auto p-10">
        <p
        class="text-sm uppercase tracking-[0.35em] p-3"
        style="color: var(--color-muted);"
    >
        Dress to Impress
    </p>        
        <h2 class="text-4xl lg:text-7xl tracking-tight font-(--font-display)"
        style="color: var(--color-primary); p-3">Dress Code</h6>
        <p
            class="text-lg leading-relaxed whitespace-pre-line font-(--font-sans) p-3"
            style="color: var(--color-primary);"
            >
            Anything floral, flowy, or fairy-like would be lovely! Please note that while we do have a shelter, the wedding will be outside, so dress accordingly. Examples below:
        </p>


<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/84/6e/8c/846e8c70fd433e964b94b9aaf0bc7d5c.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/736x/d1/a0/6f/d1a06f8839561202661e58db72997352.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/736x/6b/48/0f/6b480ff363693955b0cd759b5b217119.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/736x/08/72/db/0872db35c26fa42baa74333aaf2f7269.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/736x/6f/97/aa/6f97aa3d09fedd372963eba24cdfec80.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/66/01/b7/6601b76f795fd9bd46ab0a8480739a32.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/7b/5b/5a/7b5b5aeeea42ff86f19db656df2f16f8.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/13/5a/16/135a1682b3a81d778f19f77ad334d7fb.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/736x/1c/9f/5d/1c9f5dfd850cba60c6e46e9454ffd87b.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/d0/eb/32/d0eb32e09e23c44d685bda778fc2294c.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.postimg.cc/13V19Z8K/attire.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-base" src="https://i.pinimg.com/1200x/54/14/55/5414558f5a20a65f28f0a5b94c3da2d4.jpg" alt="">
        </div>
    </div>
</div>

    <div class="mt-5">
        <h2 class="text-3xl lg:text-5xl tracking-tight font-(--font-display)"
        style="color: var(--color-primary); p-3">Our wedding colors:</h6>
        

<div class="mt-5 grid grid-cols-5 gap-4">
    <div class="w-full h-15 bg-[#0A3323]">
    </div>
    <div class="w-full h-15 bg-[#839958]">
    </div>
    <div class="w-full h-15 bg-[#f7f4d5]">
    </div>
    <div class="w-full h-15 bg-[#d3968c]">
    </div>
    <div class="w-full h-15 bg-[#105666]">
    </div>
</div>

    </div>
</div>
</section>