<section id="HoneyFund">
    <div class="mx-auto w-full max-w-6xl px-4 py-24 sm:px-6 lg:px-8">
    <p
        class="text-sm uppercase tracking-[0.35em]"
        style="color: var(--color-muted);"
    >
        On Gifting
    </p>        
        <h2 class="text-4xl lg:text-7xl tracking-tight font-(--font-display)"
        style="color: var(--color-primary);">Honey Fund</h6>
        <p
            class="text-lg leading-relaxed whitespace-pre-line font-(--font-sans) w-260"
            style="color: var(--color-primary);"
            >
            We have been blessed to have all of our needs met, so we are not requesting physical gifts at this time. If you would like to give a gift, we have a honeymoon fund. There is no obligation. More than anything, your gift is celebrating this moment with us.
        </p>
    </div>
</section>