---
import { getEventData } from "../data/eventData";
const { title } = Astro.props;
---


<section id="RSVP"
  class="hero overflow-hidden bg-[url('../assets/wildflowers.jpg')] bg-fixed bg-cover bg-center grid place-items-center text-center"
  style="
    background-color: color-mix(in srgb, var(--color-background), var(--color-primary) 90%);
    background-blend-mode: soft-light;
  "
>
  <div class="w-full max-w-3xl px-4 py-24 sm:px-6 lg:px-8 flex flex-col items-center">
    
    <p class="text-sm uppercase tracking-[0.35em]"
       style="color: var(--color-secondary);">
      will you be there?
    </p>        

    <h2 class="text-4xl lg:text-8xl tracking-tight font-(--font-display)"
        style="color: var(--color-secondary);">
      rsvp
    </h2>

    <p class="text-lg leading-relaxed whitespace-pre-line font-(--font-sans) max-w-xl"
       style="color: var(--color-secondary);">
      Let us know if you'll be joining our special day!
    </p>
        <p class="opacity-0">spacing</p>

    <div class="card w-max-sm  bg-opacity-40 overflow-hidden rounded-[28px] p-3 text-center transition-all duration-300 ease-out"
>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9mwVzz_TyFqzox6fwnQXIiqymk4myO3MMKgF2geLNJBZzKA/viewform?usp=publish-editor"
         target="_blank">
                 <span class="card__glow"></span>

        <p class="text-base text-white leading-snug">
          Register Here
        </p>
      </a>
    </div>

  </div>
</section>